/dts-v1/;
#include <nordic/nrf52811_qfaa.dtsi>

/ {
	model = "Thermometer";
	compatible = "nordic,nrf52840-dk-nrf52811";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,entropy = &rng;
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "KEY1";
		};
		charge: button_1 {
			gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "TP4057 CHRG";
		};
		standby: button_2 {
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "TP4057 STDBY";
		};
	};

	leds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 24>;
			label = "LED1";
		};
		pwm_led1: pwm_led_1 {
			pwms = <&pwm0 23>;
			label = "LED2";
		};
	};

	aliases {
		pwm-led0 = &pwm_led0;
		pwm-led1 = &pwm_led1;
		sw0 = &button0;
	};
};

&adc {
	status = "okay";
};

&pwm0 {
	status = "okay";

	ch0-pin = < 24 >;
	ch0-inverted;
	
	ch1-pin = < 23 >;
	ch1-inverted;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	tx-pin = <13>;
	rx-pin = <14>;
	rx-pull-up;
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	sda-pin = <17>;
	scl-pin = <18>;

	ti_hdc: ti_hdc@40 {
		compatible = "ti,hdc","ti,hdc1080";
		reg = <0x40>;
		label = "HDC1080";
	};
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0xd000>;
		};
		slot1_partition: partition@19000 {
			label = "image-1";
			reg = <0x00019000 0xd000>;
		};
		scratch_partition: partition@26000 {
			label = "image-scratch";
			reg = <0x00026000 0x3000>;
		};
		storage_partition: partition@29000 {
			label = "storage";
			reg = <0x00029000 0x00007000>;
		};
	};
};
